@charset "UTF-8";


*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


body{
    background-image: linear-gradient( white, #002333);
}


main{
    background: white;
    margin: auto;
    width: 700px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #000000;

}

h1{
    font-family: 'Lobster', sans-serif;
    font-size: 3em;
    text-shadow: 2px 0px 2px #159a9c5b;
    color: #159A9C;
    font-weight: lighter;
    text-align: center;

}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: #002333;
}

p{
    text-align: justify;
}


