@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    background-color: rgb(235, 235, 235);
    min-height: 100vh;
}

header{
    background-color: black;
    text-align: center;
    color: white;
}

header h1{
    font-family: 'Passion One';
    font-size: 136px;
    font-variant: small-caps;
    padding-top: 50px; 
}

header  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section{
    font-family:'Sriracha';
    font-size: 47px;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.521);
    color: white;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.274);
    width: 600px;
}

footer{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: center;
}

