@charset "UTF-8";

body{
    background-image: url(imagens/wallpaper001.jpg);
}

div.quadrado{
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 15px;
    display: inline-block;
    height: 300px;
    width: 300px;
    
}

div#q1{
    background-color: aqua;
}

div#q2{
    background-image: linear-gradient(to bottom, yellow, red);

}

div#q3{
    background-image: url("imagens/pattern001.png");
}