
body{
    background: rgb(0, 0, 0);
}
h1{
    color: white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: white; 
}
