@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #e7d7ca,#cfc0b3);

}

main{
    background: white;
    width: 600px;
    padding: 15px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 3px 10px 1px #2957738c;
    
}

h1{
    text-align: center;
    color: #f7ba13 ;
    text-shadow: 1px 1px 0px #35290879;
}

h2{
    color: #295D7D;
}

p{
    text-align: justify;
}